// =============================================================================
// Phoebe Charts - Application Styles
// =============================================================================

@use 'lib/styles' as phoebe;

@use 'lib/styles/kpi_cards' as kpi_cards;
@use 'lib/styles/table_templates' as table_templates;
@use 'lib/styles/theme' as theme;

.fs-0-60 { font-size: 0.60rem; }
.fs-0-65 { font-size: 0.65rem; }
.fs-0-70 { font-size: 0.70rem; }
.fs-0-75 { font-size: 0.75rem; }
.fs-0-80 { font-size: 0.80rem; }
.fs-0-85 { font-size: 0.85rem; }
.fs-0-90 { font-size: 0.90rem; }
.fs-0-95 { font-size: 0.95rem; }
.fs-1-0 { font-size: 1.0rem; }
.fs-1-05 { font-size: 1.05rem; }
.fs-1-1 { font-size: 1.1rem; }
.fs-1-15 { font-size: 1.15rem; }
.fs-1-2 { font-size: 1.2rem; }
.fs-1-25 { font-size: 1.25rem; }
.fs-1-3 { font-size: 1.3rem; }
.fs-1-35 { font-size: 1.35rem; }
.fs-1-4 { font-size: 1.4rem; }
.fs-1-45 { font-size: 1.45rem; }
.fs-1-5 { font-size: 1.5rem; }
.fs-1-55 { font-size: 1.55rem; }
.fs-1-6 { font-size: 1.6rem; }
.fs-1-65 { font-size: 1.65rem; }
.fs-1-7 { font-size: 1.7rem; }
.fs-1-75 { font-size: 1.75rem; }
.fs-1-8 { font-size: 1.8rem; }
.fs-1-85 { font-size: 1.85rem; }
.fs-1-9 { font-size: 1.9rem; }
.fs-1-95 { font-size: 1.95rem; }
.fs-2-0 { font-size: 2.0rem; }

